mixin toggle(data)
  .toggle&attributes(attributes)
    label.toggle__group
      if data.value == "true"
        input.toggle__input.visually-hidden(type="checkbox", value=data.value, name=data.name, checked)
      else
        input.toggle__input.visually-hidden(type="checkbox", value=data.value, name=data.name)
      span.toggle__field
      span.toggle__label= data.label