mixin rate-button(data)
  - var {startValue=0, isForFeedback=false, name} = data
  span.rate-button(class=isForFeedback ? '' : 'js-rate-button')
    select.rate-button__select.rate-button__star-rating(class=isForFeedback ? 'js-rate-button__select' : 'visually-hidden', name=data.name)
      each val in [1, 2, 3, 4, 5]
        if val == startValue
          option(selected='selected', value=val).rate-button__value= val
        else
          option.rate-button__value(value=val)= val
    if !isForFeedback
      span.rate-button__star-rating--stars
        each val in [1, 2, 3, 4, 5]
          if val <= startValue
            span.rate-button__star--active(data-value=val)
          else
            span(data-value=val)
