include ../nav/nav.pug
include ../../library.blocks/subscribe-form/subscribe-form.pug

mixin widgets(navigationNavData, aboutNavData, supportNavData, onlyMoblie=false)
  .widgets 
    .widgets__wrapper(class=onlyMoblie ? 'widgets__wrapper--mobile' : '')
      .widgets__logo(class=onlyMoblie ? 'widgets__logo--mobile' : '')
        a.widgets__link(href="/")
          img.widgets__img.logo(src=require('./images/logo.svg'), alt="logo")
        p.widgets__text(class=onlyMoblie ? 'widgets__text--mobile' : '') Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      .widgets__nav(class=onlyMoblie ? 'widgets__nav--mobile' : '')
        +navList(navigationNavData, true)
      .widgets__nav(class=onlyMoblie ? 'widgets__nav--mobile' : '')
        +navList(aboutNavData, true)
      .widgets__nav(class=onlyMoblie ? 'widgets__nav--mobile' : '')
        +navList(supportNavData, true)
      .widgets__subcribe(class=onlyMoblie ? 'widgets__subcribe--mobile' : '')
        h3.widgets__title Подписка
        p.widgets__text Получайте специальные предложения и новости сервиса
        .widgets__form
          +subscribe-form