mixin textfield(data)
  -var {type='text', name, placeholder, value='', isSubscribe=false, jsModifier='', autocomplete='off'} = data;
  -var classes=[]
  -if (isSubscribe) classes.push('textfield--subscribe')
  -if (jsModifier) classes.push(jsModifier)
  input.textfield(type=type, name=name, placeholder=placeholder, autocomplete=autocomplete, value=value, class=classes)
