mixin textfield(data)
  -var {type='text', name, placeholder, value="", isSubscribe=false, jsModifier=''} = data;
  -var classes=[]
  -if (isSubscribe) classes.push('textfield--subscribe')
  -if (jsModifier) classes.push('js-textfield')
  input.textfield(type=type, name=name, placeholder=placeholder, value=value, class=classes)
