mixin radioButton(data) 
  .form__radio-button 
    each val in data.values
      label.form__radio-button-group
        if val.state
          input.form__radio-button-input.visually-hidden(type="radio", value=val.value, name=data.name, checked)
        else
          input.form__radio-button-input.visually-hidden(type="radio", value=val.value, name=data.name)
        span.form__radio-button-field
        span.form__radio-button-label= val.label